.contenedorU {
  max-width: 1200px;
  margin-inline: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Esto permitirá que las cards se ajusten en filas */
}

.encabezadoU {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	filter: brightness(50%);
	padding: 0;
	margin-bottom: var(--spacing-large);
}

.imgUniversidades img {
	max-width: 100%;
	height: auto;
	border-radius: var(--border-radius-base);
}

.universidades {
	text-align: center;
	margin-bottom: var(--spacing-medium);
}

.textoU {
	color: var(--color-neutral-dark);
	margin-bottom: var(--spacing-medium);
}

.container-cardU {
	display: flex;
	flex-wrap: wrap;
	padding: var(--spacing-medium);
	gap: var(--spacing-medium);
	justify-content: center;
}

.cardU {
  background-color: white;
	border-radius: var(--border-radius-secundary);
	box-shadow: var(--box-shadow-base);
	border-top: 15px solid var(--color-primary);
	border-bottom: 15px solid var(--color-primary-light);
	transition: transform var(--transition-speed) var(--transition-timing),
	            box-shadow var(--transition-speed) var(--transition-timing);
	flex: 1 1 calc(33.333% - var(--spacing-medium)); /* Tres columnas por fila */
	max-width: calc(33.333% - var(--spacing-medium));
	margin-bottom: var(--spacing-large);
	overflow: hidden;
	display: flex;
	flex-direction: column;  /* Permite que los elementos se apilen verticalmente */
	justify-content: space-between; /* Asegura que el contenido se distribuya con espacio */
	align-items: center;
	text-align: center;
}

.cardU:hover {
	transform: translateY(-5px);
	box-shadow: var(--box-shadow-hover);
}

.cardU figure {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-medium);
	box-shadow: var(--box-shadow-hover);
}

.contenido-cardU {
  
	padding: var(--spacing-medium);
	flex-grow: 1;  /* Hace que el contenido del texto ocupe el espacio disponible */
	display: flex;
	flex-direction: column;
	justify-content: space-between;  /* Asegura que el texto y el botón estén distribuidos */
	width: 100%;
}

.contenido-cardU h3 {
  font-family: Futura;
	color: var(--color-primary);
}

.contenido-cardU p {
	font-family: Futura-texto;
	margin-bottom: var(--spacing-small);
	color: var(--color-neutral-dark);
}

.contenido-cardU p span {
	color: var(--highlight-color);
	font-weight: bold;
}

.contenido-cardU a {
  color: #ffffff; /* Mantén el color de texto blanco como en .buttonStyle */
  font-weight: bold;
  padding: 2px 15px; /* Ajustado como en .buttonStyle */
  border-radius: 8px; /* Mantén el borde redondeado del botón */
  text-decoration: none; /* Elimina subrayado, como en .buttonStyle */
  background-color: #f39200; /* Color de fondo del botón */
  font-size: small;
  transition: all 400ms ease;
  display: inline-block; /* Para que se comporte como un botón */
  margin-top: auto; /* Empuja el botón al final */
  margin-left: auto;
  margin-right: auto; /* Centra el botón horizontalmente */
}


.contenido-cardU a:hover {
  background-color: var(--color-primary-light);
	color: #fff;
}

.academia {
	text-align: center;
	font-size: 1.5em;
	color: var(--color-primary);
	margin-bottom: var(--spacing-medium);
	font-weight: bold;
}

@media (max-width: 768px) {
	.cardU {
		flex: 1 1 calc(50% - var(--spacing-medium));
		max-width: calc(50% - var(--spacing-medium));
	}
}

@media (max-width: 480px) {
	.cardU {
		flex: 1 1 100%;
		max-width: 100%;
	}
}
