.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-neutral-light);
  padding: var(--spacing-large);
  box-sizing: border-box;
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: var(--spacing-medium);
  background-color: white;
  border-radius: var(--border-radius-secundary);
  box-shadow: var(--box-shadow-base);
  box-sizing: border-box;
}

.login-form h2 {
  text-align: center;
  color: #683C10;
  margin-bottom: var(--spacing-large);
}

.login-form label {
  display: block;
  margin-bottom: var(--spacing-small);
  font-weight: bold;
  color: var(--color-tertiary);
}

.login-form input {
  width: 90%;
  padding: var(--spacing-small);
  margin-bottom: var(--spacing-medium);
  border: 1px solid var(--color-neutral-dark);
  border-radius: var(--border-radius-base);
  font-size: var(--font-size-base);
  box-sizing: border-box;
  display: block;      /* Asegura que el input sea un bloque completo */
  margin-left: auto;   /* Margen izquierdo automático */
  margin-right: auto;  /* Margen derecho automático */
}

.password-container {
  position: relative;
  color: #683C10;
}

.password-container input {
  width: 90%; /* Adjust for the button */
  border: 1px solid var(--color-neutral-dark);
  border-radius: var(--border-radius-base);
  padding-right: 40px; /* Ensure padding on the right for the icon */
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  top: 20%; /* Center vertically */
  right: 8px;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  border-radius: 0px 6px 6px 0px;
  font-size: 1.5rem;
}

.button-primary {
  width: 100%;
  background-color: var(--color-primary);
  color: white;
  padding: var(--spacing-small) 0;
  border-radius: var(--border-radius-secundary);
  font-size: var(--font-size-large);
  margin-top: var(--spacing-medium);
}

.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: var(--spacing-medium);
}

@media (max-width: 768px) {
  .login-container {
    padding: var(--spacing-medium);
  }

  .login-form {
    padding: var(--spacing-small);
  }

  .login-form h2 {
    margin-bottom: var(--spacing-medium);
  }

  .toggle-password {
    right: 5px;
    font-size: 1.2rem;
  }

  .button-primary {
    font-size: var(--font-size-base);
    padding: var(--spacing-small);
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: var(--spacing-small);
  }

  .login-form {
    width: 90%;
    padding: var(--spacing-small);
  }

  .login-form h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-medium);
  }

  .toggle-password {
    font-size: 1rem;
    right: 5px;
  }

  .button-primary {
    font-size: var(--font-size-small);
    padding: var(--spacing-small);
  }
}
