
.contenedorU {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap; 
  margin: 0 auto; 
  padding: 20px; 
  justify-content: center; 
  gap: 20px;
}

  
  .encabezadoU {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    filter: brightness(50%);
    padding: 0;
    margin-bottom: var(--spacing-large);
  }
  
  .universidades {
    text-align: center;
    margin-bottom: var(--spacing-medium);
    color: #683c10
  }
  
  .textoU {
    font-family: Futura-Oblique;
    color: var(--color-neutral-dark);
    margin-bottom: var(--spacing-medium);
    color: #936037;
  }
  
  .contenedorU-img{
    max-width: 100px;
    max-height: 100px;
    height: auto; 
    width: auto;  
    object-fit: contain; 
    vertical-align: middle; 
  }
  
  .container-cardU {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-medium);
    gap: var(--spacing-medium);
    justify-content: center;
  }
  
  .cardU {
    background-color: white;
    border-radius: var(--border-radius-secundary);
    box-shadow: var(--box-shadow-base);
    border-top: 15px solid var(--color-primary);
    border-bottom: 15px solid var(--color-primary-light);
    transition: transform var(--transition-speed) var(--transition-timing),
                box-shadow var(--transition-speed) var(--transition-timing);
    flex: 1 1 calc(33.333% - var(--spacing-medium)); /* Tres columnas por fila */
    max-width: calc(33.333% - var(--spacing-medium));
    margin-bottom: var(--spacing-large);
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
  }
  
  .cardU:hover {
    transform: translateY(-5px);
    box-shadow: var(--box-shadow-hover);
  }
  
  .cardU figure {
    padding: var(--spacing-medium);
    box-shadow: var(--box-shadow-hover);
  }
  
  .contenido-cardU {
    padding: var(--spacing-medium);
    flex-grow: 1;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  
  .contenido-cardU h3 {
    font-size: 16px;
    font-family: Futura;
    color: var(--color-primary);
  }
  
  .contenido-cardU p {
    font-size: 14px;
    font-family: Futura-texto;
    text-align: center;
    margin-bottom: var(--spacing-small);
    color: var(--color-neutral-dark);
  }
  
  .contenido-cardU p span {
    color: var(--highlight-color);
    font-weight: bold;
  }
  
  .contenido-cardU a {
    color: #ffffff; 
    font-weight: bold;
    padding: 2px 15px;
    border-radius: 8px;
    text-decoration: none;
    background-color: #f39200;
    font-size: small;
    transition: all 400ms ease;
    display: inline-block; 
    margin-top: auto; 
    margin-left: auto;
    margin-right: auto;
  }
  

  .contenido-cardU a:hover{
    background-color: var(--color-primary-light);
    color: #fff;
  }

  .academia {
    text-align: center;
    font-size: 1.5em;
    color: var(--color-primary);
    margin-bottom: var(--spacing-medium);
    font-weight: bold;
  }
  
  .carRecomend {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-medium);
    gap: var(--spacing-medium);
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .cardU {
      flex: 1 1 calc(50% - var(--spacing-medium));
      max-width: calc(50% - var(--spacing-medium));
    }
  }
  
  @media (max-width: 480px) {
    .cardU {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  
  