
.chat-container {
  width: 60px;
  height: 60px;
  background-color: var(--color-neutral-light);
  border-radius: 50%;
  box-shadow: var(--box-shadow-base);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999999;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

.container {
  position: fixed; 
  width: 500px;
  max-height: 70vh;
}

.chat-container.show {
  position: absolute;
  width: 400px;
  height: 500px;
  border-radius: var(--border-radius-base);
}

.chat-bubble {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-hover);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 100000;
}

.chat-container.show .chat-bubble {
  position: absolute;
  top: 3px;
  right: 10px;
  width: 40px;
  height: 40px;
}

.chat-icon {
  color: white;
  font-size: 2rem;
}

.chat-header, .chat-history, .chat-input-wrapper {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.chat-container.show .chat-header,
.chat-container.show .chat-history,
.chat-container.show .chat-input-wrapper {
  opacity: 1;
}

.chat-header {
  background-color: var(--color-primary-dark);
  padding: var(--spacing-small);
  color: white;
  text-align: center;
  border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;
}

.chat-history {
  flex-grow: 1;
  padding: var(--spacing-small);
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-small);
}

.user-content {
  background-color: var(--color-secondary-light);
  margin-left: auto;
  border-radius: var(--border-radius-base) 0 var(--border-radius-base) var(--border-radius-base);
}

.bot-content {
  background-color: var(--color-neutral-light);
  margin-right: auto;
  border-radius: 0 var(--border-radius-base) var(--border-radius-base) var(--border-radius-base);
}

.message-content {
  padding: var(--spacing-small);
  box-shadow: var(--box-shadow-base);
}

.message-time {
  font-size: var(--font-size-small);
  color: var(--color-tertiary-dark);
  margin-top: var(--spacing-small);
}

.chat-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--spacing-small);
  background-color: var(--color-neutral-light);
}

.chat-input {
  flex-grow: 1;
  padding: var(--spacing-small);
  border-radius: var(--border-radius-base);
  border: 1px solid var(--color-tertiary-dark);
  position: relative;
}

.char-counter {
  position: absolute;
  right: 75px;
  bottom: 25px;
  font-size: var(--font-size-small);
  color: var(--color-neutral-dark);
}

button {
  margin-left: var(--spacing-small);
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--color-secondary);
  color: white;
  border-radius: var(--border-radius-base);
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: var(--color-tertiary);
  cursor: not-allowed;
}
}