.form-container {
  position: relative;
  top: 50%;
  max-width: 600px;
  margin: 30 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-header h1 {
  font-size: 1.5rem;
  color: var(--color-primary);
}

.form-back-link {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 1rem;
}

.direccion-group {
  margin-bottom: 15px;
  border: 1px solid var(--color-neutral-dark);
  padding: 10px;
  border-radius: 5px;
}

.btn-add, .btn-remove, .btn-submit {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add {
  background-color: var(--color-secondary);
  color: white;
}

.btn-remove {
  background-color: var(--color-danger);
  color: white;
}

.btn-submit {
  background-color: var(--color-primary);
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .form-container {
      padding: 10px;
  }

  .form-header h1 {
      font-size: 1.2rem;
  }
}

.form-input-file {
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid var(--color-neutral-dark);
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
}
