.container-card-articulo {
	display: flex;
	width: 100%;
	box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, 0.1);
	border-radius: 5px;
	background: #fff;
	transition: all 0.3s ease;
	margin-bottom: 1rem;
}

.container-card-articulo:hover {
	scale: 1.03;
}

.container-img-articulo img {
	max-width: 100px;
	min-height: 150px;
	object-fit: cover;
}

.information-article {
	padding: 15px;
}

.information-article h3 {
	font-family: Futura-Oblique;
	color: var(--primary-color);
}

.information-article p {
	font-family: Futura-texto;
	font-size: 1.5rem;
	color: black;
}
