.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .search-input {
    padding: 6.5px;
    font-size: 16px;
    border: 2px solid #F39200;
    border-radius: 10px 0 0 10px;
    width: 300px;
    outline: none;
  }
  
  .search-input::placeholder {
    color: #852e2e;
  }
  .search-button {
    background-color: #F39200;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 8.5px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
  }
  
  .search-button:hover {
    background-color: #F39200;
  }
  