.search-container {
	font-family: Futura-Oblique;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.search-input {
	padding-block: 7px;
	font-size: 16px;
	border: 2px solid #f39200;
	border-radius: 10px 0 0 10px;
	width: 300px;
	outline: none;
}

.search-input::placeholder {
	color: #852e2e;
	font-family: Futura-texto;
}
.search-button {
	background-color: #f39200;
	color: white;
	border: none;
	border-radius: 0 10px 10px 0;
	padding: 4px 20px;
	cursor: pointer;
	font-size: 16px;
	margin: 0;
}

.search-button:hover {
	background-color: #f39200;
}
