.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 25%;
  }
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #9e3636;
    border-radius: 5px 0 0 5px;
    width: 300px;
    outline: none;
  }
  
  .search-input::placeholder {
    color: #852e2e;
  }
  .search-button {
    background-color: #852e2e;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
  }
  
  .search-button:hover {
    background-color: #852e2e;
  }
  