.pie-pagina {
	background-color: var(--color-neutral-dark);
	color: var(--color-neutral-light);
	padding: var(--spacing-large) 0;
	font-family: var(--font-primary);
}

.contenedor-piepagina {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: var(--spacing-large);
}

.info {
	flex: 1;
	min-width: 220px;
	margin-bottom: var(--spacing-large);
}

.info h3 {
	color: var(--color-primary);
	font-family: var(--font-primary);
	margin-bottom: var(--spacing-small);
}

.info p,
.info input,
.info a {
	color: var(--color-neutral-light);
	margin-bottom: var(--spacing-small);
	font-size: var(--font-size-large);
	font-family: Futura-texto;
}

.info a {
	display: block;
	text-decoration: none;
	margin-bottom: var(--spacing-small);
	color: var(--color-primary-light);
	transition: color var(--transition-speed) var(--transition-timing);
}

.info a:hover {
	color: var(--color-primary);
}

.redes-sociales .redes-icons {
	font-size: 20px;
	margin-right: var(--spacing-large);
	color: var(--color-primary-light);
	transition: color var(--transition-speed) var(--transition-timing);
}

.redes-sociales i:hover {
	color: var(--color-primary);
}

.pie-pagina input[type='email'] {
	width: calc(100% - var(--spacing-medium));
	padding: var(--spacing-small);
	border-radius: var(--border-radius-base);
	border: 1px solid var(--color-neutral-light);
	margin-bottom: var(--spacing-small);
	font-size: var(--font-size-base);
	background-color: var(--color-neutral-dark);
	color: var(--color-neutral-light);
}

.pie-pagina input[type='submit'].btnF {
  font-family: Futura;
	background-color: var(--color-primary);
	color: white;
	border: none;
	padding: var(--spacing-small) var(--spacing-medium);
	border-radius: var(--border-radius-base);
	cursor: pointer;
	transition: background-color var(--transition-speed) var(--transition-timing);
	font-size: var(--font-size-base);
}

.pie-pagina input[type='submit'].btnF:hover {
	background-color: var(--color-primary-dark);
}

.footer {
	background-color: #1c1b1b;
	text-align: center;
	padding: var(--spacing-medium) 0;
}

.footer .logo h2 {
	color: var(--color-primary);
	font-family: var(--font-secondary);
	margin-bottom: var(--spacing-small);
}

.footer p {
	color: var(--color-neutral-light);
	font-size: var(--font-size-small);
}

.redes-sociales  {
	display: flex;
	justify-content: start;
}

.msj{
	color: var(--color-primary);
	font-family: var(--font-primary);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.footer {
	background-color: #1c1b1b;
	text-align: center;
	padding: var(--spacing-medium) 0;
	position: relative;
}

.footer h4 {
	color: var(--color-neutral-light);
	font-size: var(--font-size-base);
	margin-bottom: var(--spacing-small);
	font-family: var(--font-primary);
}

.footer p {
	color: var(--color-neutral-light);
	font-size: var(--font-size-small);
	margin: 0;
}

.footer p span.fecha {
	color: var(--color-primary);
	font-weight: bold;
}

.footer .creditos {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: var(--spacing-small);
	border-top: 1px solid var(--color-neutral-light);
	margin-top: var(--spacing-medium);
}

.footer .creditos h4 {
	color: var(--color-primary);
	font-size: var(--font-size-medium);
	margin-bottom: var(--spacing-small);
}

.footer .creditos a {
	color: var(--color-primary-light);
	font-weight: bold;
	transition: color var(--transition-speed) var(--transition-timing);
}

.footer .creditos a:hover {
	color: var(--color-primary);
}

.footer .logo {
	margin-bottom: var(--spacing-small);
}

.link-multicolor {
	background: linear-gradient(90deg, #e41919, #ff8c00, #1e90ff); /* Rojo, naranja y azul */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	font-size: var(--font-size-base);
	text-decoration: none;
	transition: all 0.3s ease-in-out;
  }
  
  .link-multicolor:hover {
	background: linear-gradient(90deg, #1e90ff, #ff8c00, #ff4500); /* Invertir colores al pasar el mouse */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 0px 10px rgba(255, 69, 0, 0.6); /* Efecto de brillo */
  }
  