.searchContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 25%;
}

.searchInput {
	padding: 10px;
	font-size: 16px;
	border: 2px solid #f39200;
	border-radius: 5px 0 0 5px;
	width: 300px;
	outline: none;
}

.searchInput::placeholder {
	color: #683c10;
	font-family: Futura-texto;
}

.searchButton {
	background-color: #f39200;
	color: white;
	border: none;
	border-radius: 0 5px 5px 0;
	padding: 10.5px 20px;
	cursor: pointer;
	font-size: 16px;
	margin: 0;
}

.searchButton:hover {
	background-color: #F9C992;
}
