:root {
	/* Color Palette */
	--color-primary: #fba834;
	--color-primary-light: #f3b461;
	--color-primary-dark: #b26a00;

	--color-secondary: #f5f2ee;
	--color-secondary-light: #3fbf63;
	--color-secondary-dark: #0c7827;
	--color-tertiary: #615442;
	--color-tertiary-light: #8a7e6d;
	--color-tertiary-dark: #423630;

	--color-neutral-light: #ededed;
	--color-neutral-dark: #2d2d2d;

	/* Typography */
	--font-primary: Futura, 'Roboto', sans-serif;
	--font-secondary: 'Lora', serif;

	--h1-size: 37.78px;
	--h2-size: 29.81px;
	--h3-size: 23.18px;
	--h4-size: 17.65px;
	--h5-size: 13.04px;
	--h6-size: 9.2px;

	--pLL-size: 20px;
	--pL-size: 14px;
	--pM-size: 11.33px;
	--pS-size: 9.11px;

	/* Font Sizes */
	--font-size-base: 14px;
	--font-size-large: 1.25rem;
	--font-size-small: 0.875rem;

	/* Line Heights */
	--line-height-base: 1.5;
	--line-height-heading: 1.2;

	/* Spacing */
	--spacing-small: 8px;
	--spacing-medium: 16px;
	--spacing-large: 24px;

	/* Border Radius */
	--border-radius-base: 5px;
	--border-radius-secundary: 10px;
	--border-radius-tertiary: 20px;

	/* Transitions */
	--transition-speed: 0.3s;
	--transition-timing: ease-in-out;

	/* Box Shadow */
	--box-shadow-base: 0 2px 5px rgba(0, 0, 0, 0.1);
	--box-shadow-hover: 0 4px 10px rgba(0, 0, 0, 0.2);

	--oscuro: #07070a;
	--azulOscuro: #0a1128;
	--azulClaro: #006fe6;
	--plomoOscuro: #4b4b4b;
	--blanco: #fefcfb;
	--rojo: #ee0707;
	--fonfo: #2f2f47;
	--titulos: 'Montserrat' sans-serif --parrafos: 'open sans', sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 70%;
	background-color: var(--oscuro);
	scroll-behavior: smooth;
}

body {
	font-family: Futura;
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	color: var(--color-neutral-dark);
	background-color: var(--color-neutral-light);
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: var(--spacing-medium);
	color: var(--color-neutral-dark);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: var(--spacing-medium);
}


@keyframes desplazamiento {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

@media only screen and (max-width: 768px) {
	.fondo {
		height: 30vh;
		width: 100%;
		background-size: contain;
	}
}
@media (min-width: 768px) {
	.nosotros h2 {
		font-size: 40px;
		margin-bottom: 2%;
		margin-top: 5%;
	}

	.contenido-nosotros {
		grid-template-columns: repeat(2, 1fr);
	}

	.texto-nosotros {
		font-family: Futura-texto;
		font-size: 16px;
		display: flex;
		justify-content: center; /* Centra horizontalmente */
		align-items: center; /* Centra verticalmente */
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
}


@media (min-width: 768px) {
	.contenedor-piepagina {
		display: flex;
		justify-content: space-between;
	}
}
