
:root {
	/* Color Palette */
	--color-primary: #f39200;
	--color-primary-light: #f3b461;
	--color-primary-dark: #b26a00;

	--color-secondary: #169f39;
	--color-secondary-light: #3fbf63;
	--color-secondary-dark: #0c7827;
	--color-tertiary: #615442;
	--color-tertiary-light: #8a7e6d;
	--color-tertiary-dark: #423630;

	--color-neutral-light: #ededed;
	--color-neutral-dark: #2d2d2d;

	/* Typography */
	--font-primary: Futura, 'Roboto', sans-serif;
	--font-secondary: 'Lora', serif;

	/* Font Sizes */
	--font-size-base: 16px;
	--font-size-large: 1.25rem;
	--font-size-small: 0.875rem;

	/* Line Heights */
	--line-height-base: 1.5;
	--line-height-heading: 1.2;

	/* Spacing */
	--spacing-small: 8px;
	--spacing-medium: 16px;
	--spacing-large: 24px;

	/* Border Radius */
	--border-radius-base: 5px;
	--border-radius-secundary: 10px;
	--border-radius-tertiary: 20px;

	/* Transitions */
	--transition-speed: 0.3s;
	--transition-timing: ease-in-out;

	/* Box Shadow */
	--box-shadow-base: 0 2px 5px rgba(0, 0, 0, 0.1);
	--box-shadow-hover: 0 4px 10px rgba(0, 0, 0, 0.2);


	--oscuro: #07070a;
	--azulOscuro: #0a1128;
	--azulClaro: #006fe6;
	--plomoOscuro: #4b4b4b;
	--blanco: #fefcfb;
	--rojo: #ee0707;
	--fonfo: #2f2f47;
	--titulos: 'Montserrat' sans-serif --parrafos: 'open sans', sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 70%;
	background-color: var(--oscuro);
	scroll-behavior: smooth;
}

body {
	font-family: Futura;
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	color: var(--color-neutral-dark);
	background-color: var(--color-neutral-light);
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: var(--spacing-medium);
	color: var(--color-neutral-dark);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: var(--spacing-medium);
}

button {
	font-family: var(--font-primary);
	font-size: var(--font-size-base);
	border-radius: var(--border-radius-base);
	cursor: pointer;
	transition:
		background-color var(--transition-speed) var(--transition-timing),
		color var(--transition-speed) var(--transition-timing);
	padding: var(--spacing-small) var(--spacing-medium);
	border: none;
}

button:hover {
	background-color: var(--color-primary-dark);
	color: white;
}

a {
	text-decoration: none;
	color: var(--color-primary);
	transition: color var(--transition-speed) var(--transition-timing);
}

a:hover {
	color: var(--color-primary-dark);
}

.h2, h2 {
    font-size: calc(1.325rem + .9vw);
    text-align: center;
}

/* @media (min-width: 1200px) {
    .h2, h2 {
        font-size: 2rem;
        text-align: center;
    }
} */



@keyframes desplazamiento {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}


@media only screen and (max-width: 768px) {
	.fondo {
		height: 30vh;
		width: 100%;
		background-size: contain;
	}
}
@media (min-width: 768px) {
	.nosotros h2 {
		font-size: 40px;
		margin-bottom: 2%;
		margin-top: 5%;
	}

	.contenido-nosotros {
		grid-template-columns: repeat(2, 1fr);
	}

	.texto-nosotros {
		font-family: Futura-texto;
		font-size: 16px;
		display: flex;
		justify-content: center; /* Centra horizontalmente */
		align-items: center; /* Centra verticalmente */
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
}

.pie-pagina {
	margin-top: 15%;
	background-color: rgb(20, 20, 20);
	padding: 5rem;
}
@media (min-width: 768px) {
	.contenedor-piepagina {
		display: flex;
		justify-content: space-between;
	}
}