/* Becas.css */
.becas-title {
  text-align: center;
  font-size: var(--font-size-large);
  color: var(--color-primary-dark);
  margin-bottom: var(--spacing-large);
}

.becas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3000px, 1fr));
  gap: var(--spacing-large);
  padding: var(--spacing-medium);
}

.beca-card {
  background-color: var(--color-neutral-light);
  border-radius: var(--border-radius-secundary);
  box-shadow: var(--box-shadow-base);
  overflow: hidden;
  transition: transform var(--transition-speed), box-shadow var(--transition-speed);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.beca-card:hover {
  transform: translateY(-10px);
  box-shadow: var(--box-shadow-hover);
}

.img-cardB img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 5px solid var(--color-primary);
}

.contentB {
  padding: var(--spacing-medium);
}

.titleB {
  font-size: var(--font-size-large);
  color: var(--color-tertiary-dark);
  margin-bottom: var(--spacing-small);
}

.sub-titleB {
  font-size: var(--font-size-small);
  color: var(--color-secondary-dark);
  margin-bottom: var(--spacing-small);
}

.descriptionB, .important-noteB, .average-requiredB {
  font-size: var(--font-size-base);
  color: var(--color-neutral-dark);
  margin-bottom: var(--spacing-small);
}

.important-noteB {
  background-color: var(--color-secondary-light);
  padding: var(--spacing-small);
  border-radius: var(--border-radius-base);
  font-weight: bold;
}

.scholarshipsB {
  margin-top: var(--spacing-medium);
}

.scholarship-typeB h4 {
  color: var(--color-primary);
  margin-bottom: var(--spacing-small);
}

.scholarship-typeB p {
  font-size: var(--font-size-small);
  color: var(--color-neutral-dark);
}

.addressB {
  font-size: var(--font-size-small);
  color: var(--color-tertiary-dark);
  margin-top: var(--spacing-medium);
  font-weight: bold;
}
