.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
}

.areas.área-de-salud {
  margin: 0;
  background: linear-gradient(to right, #ffcccb, #382b2b); /* Degradado de rosa claro a rosa más oscuro */
}

.areas.ingenierías {
  margin: 0;
  background: linear-gradient(to right, #cceeff, #99ddee); /* Degradado de azul claro a azul más intenso */
}

.areas.carreras-empresariales {
  margin: 0;
  background: linear-gradient(to right, #d3ffd3, #aaffaa); /* Degradado de verde claro a verde más oscuro */
}

.areas.tecnologia {
  margin: 0;
  background: linear-gradient(to right, #f0e68c, #cc6f11); /* Degradado de amarillo claro a amarillo más intenso */
}

.areas.carreras-sociales {
  margin: 0;
  background: linear-gradient(to right, #dda0dd, #cc7fcc); /* Degradado de púrpura claro a púrpura más oscuro */
}

.areas.urbanismo-y-territorio {
  margin: 0;
  background: linear-gradient(to right, #ffd700, #ffcc00); /* Degradado de dorado claro a dorado más intenso */
}

.areas {
  background-color: var(--color-area);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card {
  background-color: white;
}


.card {
  background-color: white;
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-base);
  transition: transform var(--transition-speed) var(--transition-timing), box-shadow var(--transition-speed) var(--transition-timing);
  overflow: hidden;
  flex: 1 1 calc(25% - var(--spacing-medium)); 
  max-width: calc(25% - var(--spacing-medium));
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-hover);
}

.mejorarImg {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  height: auto;
  object-fit: cover;
}

.contenido-card {
  padding: var(--spacing-medium);
  text-align: center;
}

.areas h2 {
  color: var(--color-secondary-dark);
  margin-bottom: var(--spacing-medium);
  text-align: center;
}

/* Media Queries para Responsividad */

@media (max-width: 1200px) {
  .card {
    flex: 1 1 calc(33.333% - var(--spacing-medium)); /* Tres columnas en tabletas grandes */
    max-width: calc(33.333% - var(--spacing-medium));
  }
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - var(--spacing-medium)); /* Dos columnas en tabletas pequeñas */
    max-width: calc(50% - var(--spacing-medium));
  }

  .areas h2 {
    font-size: var(--font-size-large);
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 calc(100% - var(--spacing-medium)); /* Una columna en dispositivos móviles */
    max-width: calc(100% - var(--spacing-medium));
  }

  .contenido-card {
    padding: var(--spacing-small);
  }

  .areas h2 {
    font-size: var(--font-size-small);
  }
}
